# Dependencies & Build
node_modules/
vendor/
dist/
.phpunit.cache

# Environment
.env
.env.backup
.env.production

# Database
*.sqlite
*.sqlite-journal

# Logs
*.log

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
